/* reset file */
@import './reset';

/* color file */
@import './colors';

/* comming soon page start */
.comming-soon-box {
    height: 100vh;
    width: 100%;
    background-color: #000;

    svg {
        height: 100%;
        width: 100%;
    }

    ul {
        bottom: 10vh;
        left: 50%;
        transform: translateX(-50%);
        gap: 2rem;
        align-items: center;

        a {
            position: relative;
            z-index: 9;

            &::after {
                content: '';
                height: 8vh;
                width: 8vh;
                border-radius: 50%;
                background-color: #B523BD;
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: -9;
                transform: translate(-50%, -50%);
                filter: blur(4vh);
            }

            svg{
                width: 8vh;
                height: 8vh;
            }
        }
    }
}

/* comming soon page end */